body {
  background-color:#ffffff;
  background-image: url("http://www.wallpaper4me.com/images/wallpapers/c_programming_w1.jpeg");
  font-family: Abel;
}

#backgroundcolor{
  background-color: rgb(34, 96, 112);
  background-color: rgba(34, 96, 112, 0.7);
  width: 62.5em;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display:inline;
  padding: 9%;
  
}

a {
  color:#66E0FF;
  text-decoration:none;
}

a:hover {
  color:#66E0FF;
}

a:visited {
  color:#66E0FF;
}

#boxtitleofwebsite {
  background-color: #2182A3;
  height:45px;
  position: relative;
  top: 15px;
  border-radius:1px;
}

.titleofwebsite{
  font-family:Abel;
  color: white;
  text-align: center;
}

/*.navbar {
  background-color:#003333;
}*/
